type;desc;asn;peeringdb;template;localpref;filterv4;filterv6;ipv4;ipv6;prefixv4;prefixv6;password;bfd;passive
IXP;MyIXP;;1;;;;;;;;
;MyPeer;65001;1;PEERING;120;AS-EXAMPLE;AS-EXAMPLE;192.0.2.2:2001:db8::2;;1000;100;;
;MyIX Routeserver;65001;2;;;
PNI;;;;;;;;;;;;
;MyTransit;65019;45;TRANSIT;198.51.100.1:2001:db8:100::1;;;;;;;
