# Bird 1.6 basic config for IPv6

define myasn = 65520;
define myprefixes = [ 2001:db8::/32+ ];

router id 192.0.2.253;

protocol static {
	export all;
	route 2001:db8::/29 via 2001:db8::1;
}

protocol static static_bgp {
	import all;
	route 2001:db8::/32 reject;
}

include "includes/base";
include "includes/martians-v6";
include "includes/peeringdb-v6";
include "includes/templates";
include "includes/filters-v6";
include "includes/peers-v6";
