protocol bgp [% id %] from [% peer_template %] {
    #FILTERSET;[% asn %];[% asset %];[% peer_template %];[% id %]
    description "[% desc %]";
    neighbor [% ip %] as [% asn %];
    ipv[% version %] {
        import filter {
            if [% template_function %] then reject;
            if is_first_asn[% rs %]([% asn %]) then reject;
            [% filterline %] 
            reject;
        };
    [% prefixlimit %][% localpref %]};
[% gtsm %][% bfd %][% password %][% passive %]}

